!!! doctype
html
    head
        meta(charset="utf-8")
        title #{title}

        - if (typeof isIndex !== "undefined")
            hrefPrefix = "assets"
        - else
            hrefPrefix = "../assets"
        link(rel="stylesheet", type="text/css", href="#{hrefPrefix}/vendor/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="#{hrefPrefix}/css/main.css")
        link(rel="shortcut icon", href="#{hrefPrefix}/favicon.ico", type="images/x-icon")
    body
        div.navbar.navbar-fixed-top.navbar-inverse
            div.navbar-inner
                div.container
                    ul.nav
                        li.active
                            a(href="/") Home
        div.container#main
            div.row
                div.span9
                    !{content}

                div.span3
                    - if (typeof sidebar !== "undefined")
                        !{sidebar}

        script(src="#{hrefPrefix}/vendor/jquery/jquery.min.js")
        script(scr="#{hrefPrefix}/vendor/bootstrap/js/bootstrap.min.js")
