!!! doctype
html
    head
        meta(charset="utf-8")
        title #{title}

        - if (typeof isIndex !== "undefined")
            href = "assets/css/main.css"
        - else
            href = "../assets/css/main.css"
        link(rel="stylesheet", type="text/css", href="#{href}")
    body
        div.wrap
            !{content}

            -if (typeof prev !== "undefined")
                a(href="#{prev}") 上一页

            -if (typeof next !== "undefined")
                a(href="#{next}") 下一页
